*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Electrolize', sans-serif;
       
}

.my-text-blue {
    color: rgb(6, 57, 108);
}

.my-pic1 {
    background: linear-gradient(rgba(6, 57, 108, 0.609),rgba(6, 57, 108, 0.472)), url(./White/media/header.jpg) ;
    height: 500px;
    background-size: cover;
}

.h1-text {
    color: rgb(255, 255, 255);
}

a {
    color: white;
    text-decoration: none;
}

h5 , h2 {
    color: rgb(6, 57, 108)
}

ul {
    list-style: none;
}

.my-position

.my-blue {
    color: rgb(6, 57, 108);
}

.my-bg-blue {
    background-color:rgb(6, 57, 108) ;
}

.my-pic2 {
    background: linear-gradient(rgba(6, 57, 108, 0.609),rgba(6, 57, 108, 0.472)), url(./White/media/power-plant-4712830_1280.jpg) ;
    height: 300px;
    background-size: cover;
}

.my-width {
    width: 100%;
}

.my-height {
    height: 100vh;
}

.my-box {
    height: 150px;
}

.my-margin {
    margin: 20px;
}

.my-pic3 {
    
    background:rgb(6, 57, 108);
    height: 300px;
    background-size: cover;
}

.my-button {
    width: 150px;
    text-align: center;
    background-color: rgb(6, 57, 108);
    border: none;
    color: white;
    transition: all 1s;
    
}

.my-anchor {
    color: rgb(61, 61, 61);
    text-decoration: none;
}


.my-img1 {
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)), url(./White/media/phone.jpg) ;
    height: 500px;
    background-size: cover;
    padding-top: 50px;
    width: 300px;
    height: 130px;
    background-size: cover;
    transition: 1s;
    
}

.my-img2 {
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: linear-gradient(rgba(241, 241, 241, 0),rgba(255, 255, 255, 0)), url(./White/media/sky.jpg) ;
    height: 500px;
    background-size: cover;
    padding-top: 50px;
    width: 300px;
    height: 130px;
    background-size: cover;
    transition: 1s;
    
}


.my-img3 {
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)), url(./White/media/abst.jpg) ;
    height: 500px;
    background-size: cover;
    padding-top: 50px;
    width: 300px;
    height: 130px;
    background-size: cover;
    transition: 1s;
    
}


.my-img4 {
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.472)), url(./White/media/mount.jpg) ;
    height: 500px;
    background-size: cover;
    padding-top: 50px;
    width: 300px;
    height: 130px;
    background-size: cover;
    transition: 1s;
    
}

.my-pics1 {
    padding: 5px;
    padding-left: 20px;
    background: linear-gradient(rgba(6, 57, 108, 0.534),rgba(6, 57, 108, 0.534)), url(./White/media/sun.png) ;
    height: 500px;
    padding-top: 50px;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 30%;
    height: 130px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s;
    
}

.my-pics2 {
    padding: 5px;
    background:  linear-gradient(rgba(6, 57, 108, 0.534),rgba(6, 57, 108, 0.534)), url(./White/media/wind.png) ;
    height: 500px;
    padding-top: 50px;
    margin-right: 20px;
    margin-bottom: 50px;
    width: 30%;
    height: 130px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s;
    
}

.my-pics3 {
    padding: 5px;
    background: linear-gradient(rgba(6, 57, 108, 0.534),rgba(6, 57, 108, 0.534)), url(./White/media/wave.png) ;
    height: 500px;
    padding-top: 50px;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 30%;
    height: 130px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s;
    
}

.my-pics4 {
    padding: 5px;
    background:  linear-gradient(rgba(6, 57, 108, 0.534),rgba(6, 57, 108, 0.534)), url(./White/media/gas.png) ;
    height: 500px;
    padding-top: 50px;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 30%;
    height: 130px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s;
    
}

.my-pics5 {
    padding: 5px;
    background:  linear-gradient(rgba(6, 57, 108, 0.534),rgba(6, 57, 108, 0.534)), url(./White/media/oil.png) ;
    height: 500px;
    padding-top: 50px;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 30%;
    height: 130px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s;
    
}

.my-pics6 {
    padding: 5px;
    background:  linear-gradient(rgba(6, 57, 108, 0.534),rgba(6, 57, 108, 0.534)), url(./White/media/nuclear.png) ;
    height: 500px;
    padding-top: 50px;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 30%;
    height: 130px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s;
    
}

.more-height {
    height: 120px;
}


.my-padding {
    padding: 100px;
}

.graphic1 {
    margin: 10px;
    border-bottom: 5px solid rgb(6, 57, 108);
    width: 40%;
}

.graphic2 {
    margin: 10px;
    border-bottom: 5px solid rgb(6, 57, 108) ;
    width: 60%;
}

.graphic3 {
    margin: 10px;
    border-bottom: 5px solid rgb(6, 57, 108) ;
    width: 80%;
}

.graphic4 {
    margin: 10px;
    border-bottom: 5px solid rgb(6, 57, 108) ;
    width: 100%;
}

.graphic5 {
    margin: 10px;
    border-bottom: 5px solid rgb(6, 57, 108) ;
    width: 70%;
}

.my-flex-box2 {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: rgb(6, 57, 108);

}


.my-flex-box2-top {
    position: relative;
    width: 300px;
    height: 50px;
    background-color: rgb(6, 57, 108);

}


.my-footer {
    width: 100%;
    height: 200px;
    background-color: black;
}

.text-footer {
    font-size: 10px;
}



.my-img1:hover {
    transform: scale(1.1);
}

.my-img2:hover {
    transform: scale(1.1);
}

.my-img3:hover {
    transform: scale(1.1);
}

.my-img4:hover {
    transform: scale(1.1);
}

@media screen and (min-width: 768px ) {
    

}